html, body, .background-jorney {
    height: 100%;
}

.background-jorney {
    background-image: url('../images/rana-sawalha.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-header {
    background-color: rgba(0, 0, 0, 0.41);
    height: 54px;
}

.header-title {
    float: left;
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 81px;
}

.header-title:hover {
    color: green;
    text-decoration: underline;
}

.header-connection {
    float: right;
    margin-top: 15px;
}

.header-connection-icons {
    display: inline-block;
    padding-right: 28px;
}

.header-icons-item {
    display: inline-block;
    margin-right: 28px;
}

.icons-calendar  {
    width: 19px; height: 19px;
    background: url('../images/journey-images.png') -50px -86px;
}

.icons-calendar:hover {
    background-position: -89px -86px;
}

.icons-forum {
    width: 28px; height: 20px;
    background: url('../images/journey-images.png') -10px -10px;
}

.icons-forum:hover {
    background-position: -58px -10px;
}

.icons-journey {
    width: 20px; height: 20px;
    background: url('../images/journey-images.png') -106px -10px;
}

.icons-journey:hover {
    background-position:-10px -86px;
}

.header-connection-text {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    color:  #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 75px;
}

.text-green {
    text-decoration: none;
    color: green;
}

.text-green:hover {
    text-decoration: underline;
}

.registration-form {
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: 65px auto 0;
}

.form-container {
    width: 322px;
    height: 523px;
    margin: 0 auto;
}

.form-header {  
    position: relative;
    padding-top: 29px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
}

.section-title1 {
    float:left;
    color:  #434343;
    font-size: 20px;
}

.section-title1::before {
    content: '';
    position: absolute;
    top: 33px;
    left: -62px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.section-title2 {
    float: right;
    color:  #3cb878;
    font-size: 14px;
}

.form-buttons {
    display: block;
    margin-top: 15px;
    border-radius: 3px;
}

.form-button-facebook {
    display: block;
    float: left;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    text-decoration: none;
}

.form-button-google {
    display: block;
    float: right;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    text-decoration: none;
}

.letter-facebook {
    display: inline-block;
    color: #fff;
    width: 10px;
    height: 20px;
    padding: 15px 10px;
}

.letter-goople_plus {
    display: inline-block;
    color: #fff;
    width: 25px;
    height: 16px;
    padding: 15px;
}

.vertical-line {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.21);
    position: relative;
    top: 8px;
}

.title-facebook {
    display: inline-block;
    color: #fff;
    width: 25px;
    height: 16px;
    padding: 16px;
}

.title-google_plus {
    display: inline-block;
    color: #fff;
    width: 25px;
    height: 16px;
    padding: 16px;
}

.form-divider {
    font-family: 'Verdana', sans-serif;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    margin-top: 33px;
}

.form-divider::before {
    content:'';
    display: inline-block;
    background-color: #eaeaea;
    width: 135px;
    height: 1px;
    margin-right: 15px;
}

.form-divider::after {
    content:'';
    display: inline-block;
    background-color: #eaeaea;
    width: 135px;
    height: 1px;
    margin-left: 15px;
}

.form-fields {
    width: 322px;
    margin-top: 25px;
}

.form-fields-item {
    width: 100%;
    height: 40px;
    font-family: 'Verdana', sans-serif;
    color:  #bebebe;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background-color:  #ffffff;
    padding: 17px 17px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.form-fields-item::placeholder {
    color: rgb(190, 190, 190);
    font-style: 14px;
}

.form-fields-item:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
}

/*Задати параметри для блока-чекбокса*/

.form-checkbox-text {
    position: relative;
    padding-left: 5px;
    cursor: pointer;
}

/* Приховати чекбокс встановлений за замовчуванням браузером*/

.form-checkbox-text input {
    opacity: 0;
    cursor: pointer;
}

/*Створити потрібний чекбокс*/

.checkbox-style {
    display: inline-block;
    position: absolute;
    left: 0;
    border: 1px solid #eaeaea;
    width: 20px;
    height: 20px;
}

/*Визначити місце для галочки в блоці чекбокса (не відображається коли не натиснута)*/

.checkbox-style::after {
    content: "";
    position: absolute;
    display: none;
}

/*Створити та стилізувати галочку в чекбоксі*/

.checkbox-style::after {
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

/*Поставити галочку в блоці чекбокса*/

.form-checkbox-text input:checked ~ .checkbox-style::after {
    display: block;
}

.text-green {
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
}

.form-fields-button {
    border: none;
    border-radius: 3px;
    background-color: #2e9b65;
    width: 100%;
    height: 46px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px;
}

.form-fields-button:focus {
    outline: none;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}